.body {
  background-color: whitesmoke;
  /* height: 100vh; */

  &__header {
    &__heading {
      background-color: rgba(96, 96, 96, 0.486);
      border-radius: 16px;
      font-size: 48px;
      text-align: center;
      margin: 0px 80px 1rem 80px;
      padding: 8px;
    }
  }

  &__main {
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(115, 202, 115, 0.34);
    padding: 2rem;
    border-radius: 8px;

    &__input-box-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 4px;
      margin-bottom: 1rem;
      margin-top: 4rem;
    }

    &__result-container {
      margin-bottom: 1rem;
      &__box {
        min-width: 400px;
        padding: 0;
        border: 0;
        &:focus,
        &:active {
          /* border: 1px solid ; */
          outline: none;
        }

        &:hover {
          cursor: default;
        }
      }
    }
  }
}

.info-box {
  text-align: center;
  &__legend-container {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-left: 8rem;
    margin-right: 8rem;
    &__item-box {
      background-color: rgba(160, 160, 160, 0.192);
      min-width: 40px;
      font-weight: 700;
    }
  }
}

#legendHeader {
  flex-basis: 100%;
  text-align: center;
}

button {
  border-radius: 0;
}
